.root {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}

.error {
	font-size: 24px;
	font-weight: bold;
}

@media (max-width: 991px) {
	.root {
		display: flex;
		width: 100%;
		overflow-x: scroll;
		padding: 16px;
	}
}
