.root {
	height: 217px;
	width: 100%;
	background: var(--white-color);
	box-shadow: 0px 0px 10px 2px rgba(34, 37, 63, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 250px;
}

.spinner {
	animation: rotate 0.9s ease-in-out infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
