.container {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}

@media (max-width: 991px) {
	.wrap {
		display: flex;
		flex-direction: column;
	}
}
